/* Conteneur des cartes */
.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Carte individuelle */
.articleCard {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 300px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

/* Image de l'article */
.articleImage {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  position: relative;
}

/* Titre */
.articleTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  padding: 10px;
  margin: 0;
  flex-grow: 1;
}

/* Conteneur du bas de la carte */
.articleFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

/* Date de publication */
.articleDate {
  font-size: 0.9rem;
  color: #777;
}

/* Bouton Lire Plus en bas à droite */
.articleButton {
  color: #e60000;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.articleButton:hover {
  color: #c50000;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 40px;
    aspect-ratio: 1;
    --c: linear-gradient(#000 0 0);
    --r1: radial-gradient(farthest-side at bottom,#000 93%,#0000);
    --r2: radial-gradient(farthest-side at top   ,#000 93%,#0000);
    background: 
      var(--c) ,var(--r1),var(--r2),
      var(--c) ,var(--r1),var(--r2),
      var(--c) ,var(--r1),var(--r2);
    background-repeat: no-repeat;
    animation: l1 1s infinite alternate;
  }
  @keyframes l1 {
    0%,10% {
      background-size: 8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   90%,100% {
      background-size: 8px 100%,8px 4px, 8px 4px;
      background-position: 0 50%,0 -2px,0 calc(100% + 2px),50% 50%,50% -2px,50% calc(100% + 2px),100% 50%,100% -2px,100% calc(100% + 2px);
   }
  }  